body {
  background-color: $primary-bg-color;
  color: $primary-txt-color;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.17;
}

.subtitle {
  text-align: center;
  color: $secondary-txt-color;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;

  &--modal {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 12px;
  }

  &--opinions {
    display: none;
  }
}

.container {
  margin: 0;
  padding: 0 15px;
  width: 100vw;
  min-width: 320px;
  max-width: 479px;
}

.header__container {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__container {
  padding: 60px 15px;
  display: flex;
  flex-wrap: wrap;
}

.section {
  margin: 0;
  padding: 94px 0;

  &__banner {
    padding: 0;
    background-color: $secondary-bg-color;
    background-image: linear-gradient(to bottom, #2f303a00, #2f303aff), url('../images/banner.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto;
    background-position: center, center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__our-services {
    padding-top: 0;
  }

  &__team {
    background-color: $tertiary-bg-color;
  }

  &__projects-header {
    padding-bottom: 0;
  }

  &__projects-gallery {
    padding-top: 0;
  }
}
@media screen and (min-width: #{$breakpoint-phone}) {
  .container {
    max-width: 767px;
  }
  .header__container {
    padding: 24px 15px;
  }
}

@media screen and (min-width: #{$breakpoint-tablet}) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}
