.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: #00000033;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: top center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  max-width: 450px;
  min-height: 610px;
  background-color: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  text-align: center;

  &__close-btn {
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid #0000001a;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__icon-close {
    fill: $secondary-accent-color;
  }

  &__label {
    color: $primary-txt-color;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    display: block;
    text-align: left;
  }

  &__field {
    max-width: 370px;
    min-height: 40px;
    border: 1px solid #21212133;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 11px 12px;
    display: flex;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contact-icon {
    fill: $secondary-txt-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__field:focus-within {
    border-color: $primary-accent-color;
  }

  &__field:focus-within &__contact-icon {
    fill: $primary-accent-color;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-txt-color;
    margin-left: 12px;
  }

  &__comment-input {
    resize: none;
    outline: none;
    padding: 12px 16px;
    margin-bottom: 20px;
    max-width: 370px;
    min-height: 120px;
    border: 1px solid #21212133;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $secondary-txt-color;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__comment-input::placeholder {
    color: $primary-txt-color;
    opacity: 0.5;
  }

  &__comment-input:focus-within {
    border-color: $primary-accent-color;
  }

  &__agreement-cont {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: $primary-txt-color;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__agreement {
    cursor: pointer;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__checkmark {
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &__custom-checkmark {
    padding: 0;
    margin-right: 7px;
    outline: none;
    border: 2px solid #21212133;
    border-radius: 2px;
    width: 17px;
    height: 16px;
    fill: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__agreement:focus-within &__custom-checkmark,
  &__agreement:hover &__custom-checkmark {
    border-color: $primary-accent-color;
  }

  &__checkmark:checked + &__custom-checkmark {
    background-color: $primary-accent-color;
    fill: $tertiary-txt-color;
  }

  &__link {
    color: $primary-accent-color;
    text-decoration: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus,
  &__link:active {
    color: $secondary-txt-color;
    text-decoration: none;
  }

  &__btn {
    display: inline-block;
    min-width: 200px;
    min-height: 50px;
    border: none;
    border-radius: 4px;
    outline: none;
    color: $tertiary-txt-color;
    background-color: $primary-accent-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__btn:hover,
  &__btn:focus {
    background-color: $tertiary-bg-color;
    color: $secondary-txt-color;
  }
}
@media screen and (min-width: #{$breakpoint-tablet}) {
  .modal {
    max-width: 530px;

    &__field,
    &__comment-input {
      max-width: 450px;
    }
  }
}
