.our-services {
  display: block;

  &__list {
    margin-top: 50px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list--internal-margin {
    margin-left: 30px;
  }

  &__list-point {
    position: relative;
  }

  &__label {
    position: absolute;
    bottom: 0px;
    min-width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f303acc;
    color: $tertiary-txt-color;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}
