.header {
  border-bottom: 1px solid #ececec;
  font-size: 14px;
  line-height: 1.17;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__link-list {
  margin-left: 83px;
  list-style: none;
  display: none;
  justify-content: space-between;
  gap: 60px;

  &-point {
    position: relative;
  }
}

.navigation__link {
  color: $secondary-txt-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $primary-accent-color;
  }

  &--current::after {
    content: '';
    min-width: 100%;
    height: 4px;
    border: none;
    border-radius: 2px;
    background-color: $primary-accent-color;
    position: absolute;
    bottom: -33px;
    left: 0;
  }
}

.contact-list {
  list-style: none;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-list__point--internal-margin {
  margin-top: 10px;
}

.contact-list__link {
  color: $primary-txt-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: $primary-accent-color;
  }
}

.contact-list__icon {
  margin-right: 8px;
  fill: $primary-txt-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon--envelope {
  width: 14px;
  height: 10px;
}

.contact-list__icon--smartphone {
  width: 10px;
  height: 14px;
}

.contact-list__link:hover .contact-list__icon,
.contact-list__link:focus .contact-list__icon,
.contact-list__link:active .contact-list__icon {
  fill: $primary-accent-color;
}

.header__mobile-menu {
  &-btn {
    min-width: 40px;
    min-height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &-icon {
    fill: $secondary-accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-btn:hover &-icon,
  &-btn:focus &-icon {
    fill: $primary-accent-color;
  }
}

@media screen and (min-width: #{$breakpoint-tablet}) {
  .header__mobile-menu-btn {
    display: none;
  }

  .navigation__link-list {
    display: flex;
  }

  .contact-list {
    display: flex;
  }
}

@media screen and (min-width: #{$breakpoint-desktop}) {
  .navigation__link-list {
    margin-left: 93px;
    gap: 46px;
  }

  .contact-list {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }

  .contact-list__point {
    margin: 0;

    &--internal-margin {
      margin-top: 0;
      margin-left: 30px;
    }
  }

  .contact-list__icon {
    margin-right: 10px;
  }

  .contact-list__icon--envelope {
    width: 16px;
    height: 12px;
  }

  .contact-list__icon--smartphone {
    width: 10px;
    height: 16px;
  }
}
