$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

// @media screen and (min-width: #{$breakpoint-phone}) {
// }

// @media screen and (min-width: #{$breakpoint-tablet}) {
// }

$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;

$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$tertiary-bg-color: #f5f4fa;
$primary-accent-color: #2196f3;
$secondary-accent-color: #000000;
$tertiary-accent-color: #afb1b8;
$primary-txt-color: #757575;
$secondary-txt-color: #212121;
$tertiary-txt-color: #ffffff;
